.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 225px;
  padding-right: 225px;
  margin-bottom: 35px;
  font-family: Sora;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #eeeeee;
}
